{% extends 'partials/__base__.html' %}
{% load static %}
{% block header %}
    <header class="header--form-page">
        {% include 'partials/__header__.html' %}
        <div class="slogan container container--90">
            <div class="slogan--item">
                <h2>
                    Dziękujemy za przesłanie formularza.<br>
                    Na maila prześlemy wszelkie <br>
                    informacje o odbiorze.
                </h2>
            </div>
        </div>
    </header>
{% endblock %}


