{% extends '__base__.html' %}

{% block header %}
    <header>
        {% include '__header__.html' %}
    </header>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <section class="login-page">
            <div><h2>Wprowadź hasło, żeby przejść dalej</h2></div>
            <form method="post">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit">Save changes</button>
            </form>
        </section>
    {% endif %}
{% endblock %}
