{% extends '__base__.html' %}

{% block header %}
    <header>
        {% include '__header__.html' %}
    </header>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <section class="login-page">
            <div><h2>Wprowadź hasło, żeby przejść dalej</h2></div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                <div class="form-group"><input name="password" type="password" id="password" placeholder="Hasło"></div>
                <div class="form-group"><input name="password2" type="password" id="password2"
                                               placeholder="Powtórz hasło">
                </div>
                <div class="form-group form-group--buttons">
                    <button class="btn" type="submit">Przejdź dalej</button>
                </div>
            </form>
        </section>
    {% endif %}
{% endblock %}
