{% extends 'partials/__base__.html' %}

{% block header %}
    <header>
        {% include 'partials/__header__.html' %}
    </header>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <section class="login-page">
            <div><h2>Zmień swoje hasło</h2></div>
            <form method="post">
                <div class="form-group">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                {% csrf_token %}
                <div class="form-group">
                    <input name="old_password" type="password" id="old_password"
                           placeholder="Stare hasło">
                </div>
                <div class="form-group">
                    <input name="password" type="password" id="password" placeholder="Nowe hasło">
                </div>
                <div class="form-group">
                    <input name="password2" type="password" id="password2"
                           placeholder="Powtórz hasło">
                </div>
                <div class="form-group">
                    <button class="btn" type="submit">Zapisz zmiany</button>
                </div>

            </form>
        </section>
    {% endif %}
{% endblock %}
