{% extends 'partials/__base__.html' %}

{% block header %}
    <header>
        {% include 'partials/__header__.html' %}
    </header>
{% endblock %}

{% block content %}
    <section class="login-page">
        <div>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        <div><h2>{{ first_name }} {{ last_name }}</h2></div>
        <div><h3>{{ email }}</h3></div>

        <h1>Twoje donacje: {{ donations_all }}</h1>

        <div>

            <h3>Donacje do odebrania:</h3>
            <form method="post">
                {% csrf_token %}
                <ul id="pending_donations" style="list-style-type: none; margin-top: -15px;">
                    {% for pending in all_pending %}

                        <li style="margin-bottom: 10px;">
                            {{ pending.quantity }} worków dla {{ pending.institution }}
                            (do zabrania dnia {{ pending.pick_up_date }} o godz. {{ pending.pick_up_time }})
                            <button type="submit" name="submit" value="{{ pending.pk }}"
                                    style="margin-left: 10px; display: inline;">
                                Zabrane
                            </button>
                        </li>

                    {% empty %}
                        Wszystkie donacje zabrane!
                    {% endfor %}
                </ul>
            </form>

            <br>

            <h3>Donacje odebrane:</h3>
            <ul id="taken_donations">
                {% for taken in all_taken %}
                    <li style="margin-bottom: 5px;">
                        {{ taken.quantity }} worków dla {{ taken.institution }}
                    </li>
                {% empty %}
                    Sprawdź, czy któraś z Twoich donacji nie została już odebrana!
                {% endfor %}
            </ul>

        </div>
    </section>
{% endblock %}
